<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <span th:text="'Hello, ' + ${name} + '!'" />
  <p th:if="${age >= 18}">You are an adult.</p>
  <h1 th:text="${person.name}"></h1>
  <h1 th:text="${person.age}"></h1>
<ul>
  <li th:each="p : ${personList}">
    <span th:text="${p.name}"></span>
    <span th:text="${p.age}"></span>
  </li>
</ul>
    <a th:href="@{/home}">Home</a>
    <a th:href="@{/about}">About</a>
    <a th:href="@{/user/{id}(id=${person.id})}">User</a>
</body>
</html>